:root {
  font: 16px / 1 sans-serif;
  font-family: 'Cuprum', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.content-container {
  background-image: url('https://wallpaperplay.com/walls/full/0/a/f/34590.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

/* header {
  background: whitesmoke;
  border-bottom: 0.1px solid #000;
  height: 60px;
  padding: 10px;
} */

/* header h1 {
  font-size: 11px;
  margin-top: 12px;
  margin-left: 10px;
} */

/* img {
  border: 2px solid whitesmoke;
} */

.search-container {
  background: rgba(134, 168, 106, 0.5);
  padding: 10px;
}

h2,
h4 {
  margin-bottom: 30px;
  color: #fff;
}

input {
  margin-bottom: 30px;
}

button {
  border: 2px solid whitesmoke;
  background: transparent;
  margin: 1rem;
  color: whitesmoke;
}

/* img {
  float: left;
} */

ul {
  clear: both;
}
